:root {

  /* Colors */
  --color-bambi-100: #c6ebd7;
  --color-bambi-200: #9ae1bb;
  --color-bambi-300: #5ed999;
  --color-bambi-400: #23cb73;
  --color-bambi-500: #0d8345;
  --color-bambi-50: #e9f6ed;
  --color-bambi-600: #0d733e;
  --color-bambi-700: #0d6135;
  --color-bambi-800: #0d522e;
  --color-bambi-900: #0c4426;
  --color-bambi-950: #0a2e1b;
  --color-basic-black: #000000;
  --color-basic-debug: #f3168f;
  --color-basic-white: #ffffff;
  --color-border-default: var(--color-wolf-200);
  --color-border-disabled: rgba(220, 225, 232, 0.5);
  --color-border-focus: var(--color-bronx-700);
  --color-border-inverse-default: var(--color-wolf-700);
  --color-border-muted: var(--color-wolf-50);
  --color-border-strong: var(--color-wolf-400);
  --color-border-subtle: var(--color-wolf-100);
  --color-brand-border-default: var(--color-bronx-500);
  --color-brand-border-muted: var(--color-bronx-100);
  --color-brand-border-strong: var(--color-bronx-700);
  --color-brand-border-subtle: var(--color-bronx-300);
  --color-brand-gradient-high: var(--color-bronx-700);
  --color-brand-gradient-low: var(--color-bronx-400);
  --color-brand-icon-default: var(--color-bronx-600);
  --color-brand-icon-inverse: var(--color-bronx-200);
  --color-brand-icon-muted: rgba(30, 78, 174, 0.699999988079071);
  --color-brand-icon-on-solid: var(--color-basic-white);
  --color-brand-link-default: var(--color-bronx-700);
  --color-brand-link-disabled: rgba(29, 98, 215, 0.5);
  --color-brand-link-focus: var(--color-bronx-700);
  --color-brand-link-hover: var(--color-bronx-800);
  --color-brand-link-pressed: var(--color-bronx-900);
  --color-brand-solid-default: var(--color-bronx-600);
  --color-brand-solid-disabled: rgba(36, 119, 235, 0.5);
  --color-brand-solid-focus: var(--color-bronx-700);
  --color-brand-solid-hover: var(--color-bronx-700);
  --color-brand-solid-pressed: var(--color-bronx-800);
  --color-brand-surface-default: var(--color-bronx-50);
  --color-brand-surface-mid: var(--color-bronx-500);
  --color-brand-surface-muted: var(--color-bronx-100);
  --color-brand-surface-strong: var(--color-bronx-950);
  --color-brand-text-default: var(--color-bronx-900);
  --color-brand-text-inverse: var(--color-bronx-200);
  --color-brand-text-light: var(--color-bronx-500);
  --color-brand-text-on-solid: var(--color-basic-white);
  --color-bronx-100: #dceefe;
  --color-bronx-200: #bee1fe;
  --color-bronx-300: #91cefd;
  --color-bronx-400: #61b5fa;
  --color-bronx-500: #007bff;
  --color-bronx-50: #f0f8ff;
  --color-bronx-600: #2477eb;
  --color-bronx-700: #1d62d7;
  --color-bronx-800: #1e4eae;
  --color-bronx-900: #1e468a;
  --color-bronx-950: #182c53;
  --color-brooklyn-100: #ffcbd4;
  --color-brooklyn-200: #fda3b4;
  --color-brooklyn-300: #fa738c;
  --color-brooklyn-400: #f54061;
  --color-brooklyn-500: #de1135;
  --color-brooklyn-50: #fff0ee;
  --color-brooklyn-600: #bd102f;
  --color-brooklyn-700: #991028;
  --color-brooklyn-800: #7a0e21;
  --color-brooklyn-900: #5d0c1b;
  --color-brooklyn-950: #31070f;
  --color-destructive-border-default: var(--color-brooklyn-500);
  --color-destructive-border-muted: var(--color-brooklyn-100);
  --color-destructive-border-strong: var(--color-brooklyn-700);
  --color-destructive-border-subtle: var(--color-brooklyn-300);
  --color-destructive-gradient-high: var(--color-brooklyn-700);
  --color-destructive-gradient-low: var(--color-brooklyn-400);
  --color-destructive-icon-default: var(--color-brooklyn-600);
  --color-destructive-icon-inverse: var(--color-brooklyn-200);
  --color-destructive-icon-muted: rgba(122, 14, 33, 0.699999988079071);
  --color-destructive-icon-on-solid: var(--color-basic-white);
  --color-destructive-link-default: var(--color-brooklyn-700);
  --color-destructive-link-disabled: rgba(153, 16, 40, 0.5);
  --color-destructive-link-focus: var(--color-brooklyn-700);
  --color-destructive-link-hover: var(--color-brooklyn-800);
  --color-destructive-link-pressed: var(--color-brooklyn-900);
  --color-destructive-solid-default: var(--color-brooklyn-600);
  --color-destructive-solid-disabled: rgba(189, 16, 47, 0.5);
  --color-destructive-solid-focus: var(--color-brooklyn-700);
  --color-destructive-solid-hover: var(--color-brooklyn-800);
  --color-destructive-solid-pressed: var(--color-brooklyn-900);
  --color-destructive-surface-default: var(--color-brooklyn-50);
  --color-destructive-surface-muted: var(--color-brooklyn-100);
  --color-destructive-surface-strong: var(--color-brooklyn-500);
  --color-destructive-text-default: var(--color-brooklyn-900);
  --color-destructive-text-inverse: var(--color-brooklyn-200);
  --color-destructive-text-on-solid: var(--color-basic-white);
  --color-global-black: var(--color-basic-black);
  --color-global-white: var(--color-basic-white);
  --color-icon-disabled: rgba(21, 26, 34, 0.5);
  --color-icon-inverse-default: var(--color-basic-white);
  --color-icon-primary: var(--color-wolf-950);
  --color-icon-quaternary: var(--color-wolf-400);
  --color-icon-secondary: var(--color-wolf-700);
  --color-icon-tertiary: var(--color-wolf-500);
  --color-info-border-default: var(--color-tango-500);
  --color-info-border-muted: var(--color-tango-100);
  --color-info-border-strong: var(--color-tango-700);
  --color-info-border-subtle: var(--color-tango-300);
  --color-info-gradient-high: var(--color-tango-700);
  --color-info-gradient-low: var(--color-tango-400);
  --color-info-icon-default: var(--color-tango-600);
  --color-info-icon-inverse: var(--color-tango-200);
  --color-info-icon-muted: rgba(13, 58, 141, 0.699999988079071);
  --color-info-icon-on-solid: var(--color-basic-white);
  --color-info-solid-default: var(--color-tango-600);
  --color-info-solid-disabled: rgba(16, 89, 223, 0.5);
  --color-info-solid-focus: var(--color-tango-700);
  --color-info-solid-hover: var(--color-tango-700);
  --color-info-solid-pressed: var(--color-tango-800);
  --color-info-surface-default: var(--color-tango-50);
  --color-info-surface-muted: var(--color-tango-100);
  --color-info-surface-strong: var(--color-tango-500);
  --color-info-text-default: var(--color-tango-900);
  --color-info-text-inverse: var(--color-tango-200);
  --color-info-text-light: var(--color-tango-500);
  --color-info-text-on-solid: var(--color-basic-white);
  --color-link-brand-inverse-default: var(--color-bronx-400);
  --color-link-brand-inverse-disabled: rgba(97, 181, 250, 0.5);
  --color-link-brand-inverse-focus: var(--color-bronx-400);
  --color-link-brand-inverse-hover: var(--color-bronx-300);
  --color-link-brand-inverse-pressed: var(--color-bronx-200);
  --color-link-destructive-inverse-default: var(--color-brooklyn-400);
  --color-link-destructive-inverse-disabled: rgba(245, 64, 97, 0.5);
  --color-link-destructive-inverse-focus: var(--color-brooklyn-400);
  --color-link-destructive-inverse-hover: var(--color-brooklyn-300);
  --color-link-destructive-inverse-pressed: var(--color-brooklyn-200);
  --color-link-ready-inverse-default: var(--color-rex-400);
  --color-link-ready-inverse-disabled: rgba(143, 116, 247, 0.5);
  --color-link-ready-inverse-focus: var(--color-rex-400);
  --color-link-ready-inverse-hover: var(--color-rex-300);
  --color-link-ready-inverse-pressed: var(--color-rex-200);
  --color-link-secondary-inverse-default: var(--color-wolf-100);
  --color-link-secondary-inverse-disabled: rgba(241, 245, 249, 0.5);
  --color-link-secondary-inverse-focus: var(--color-wolf-100);
  --color-link-secondary-inverse-hover: var(--color-wolf-200);
  --color-link-secondary-inverse-pressed: var(--color-wolf-300);
  --color-link-subtle-inverse-default: var(--color-wolf-500);
  --color-link-subtle-inverse-disabled: rgba(104, 115, 134, 0.5);
  --color-link-subtle-inverse-focus: var(--color-wolf-500);
  --color-link-subtle-inverse-hover: var(--color-wolf-400);
  --color-link-subtle-inverse-pressed: var(--color-wolf-300);
  --color-link-success-inverse-default: var(--color-bambi-400);
  --color-link-success-inverse-disabled: rgba(35, 203, 115, 0.5);
  --color-link-success-inverse-focus: var(--color-bambi-400);
  --color-link-success-inverse-hover: var(--color-bambi-300);
  --color-link-success-inverse-pressed: var(--color-bambi-200);
  --color-link-warning-inverse-default: var(--color-lua-200);
  --color-link-warning-inverse-disabled: rgba(250, 227, 169, 0.5);
  --color-link-warning-inverse-focus: var(--color-lua-200);
  --color-link-warning-inverse-hover: var(--color-lua-100);
  --color-link-warning-inverse-pressed: var(--color-lua-50);
  --color-lua-100: #fcecc5;
  --color-lua-200: #fae3a9;
  --color-lua-300: #f9d887;
  --color-lua-400: #f7cc60;
  --color-lua-500: #f6bd2f;
  --color-lua-50: #fdf2dd;
  --color-lua-600: #d4a010;
  --color-lua-700: #b08310;
  --color-lua-800: #8a6610;
  --color-lua-900: #634a0e;
  --color-lua-950: #3b2d0d;
  --color-ready-border-default: var(--color-rex-500);
  --color-ready-border-muted: var(--color-rex-100);
  --color-ready-border-strong: var(--color-rex-700);
  --color-ready-border-subtle: var(--color-rex-300);
  --color-ready-gradient-high: var(--color-rex-600);
  --color-ready-gradient-low: var(--color-rex-400);
  --color-ready-icon-default: var(--color-rex-600);
  --color-ready-icon-inverse: var(--color-rex-200);
  --color-ready-icon-muted: rgba(53, 26, 135, 0.699999988079071);
  --color-ready-icon-on-solid: var(--color-basic-white);
  --color-ready-link-default: var(--color-rex-700);
  --color-ready-link-disabled: rgba(71, 39, 176, 0.5);
  --color-ready-link-focus: var(--color-rex-700);
  --color-ready-link-hover: var(--color-rex-800);
  --color-ready-link-pressed: var(--color-rex-900);
  --color-ready-solid-default: var(--color-rex-600);
  --color-ready-solid-disabled: rgba(92, 56, 214, 0.5);
  --color-ready-solid-focus: var(--color-rex-700);
  --color-ready-solid-hover: var(--color-rex-700);
  --color-ready-solid-pressed: var(--color-rex-800);
  --color-ready-surface-default: var(--color-rex-50);
  --color-ready-surface-muted: var(--color-rex-100);
  --color-ready-surface-strong: var(--color-rex-500);
  --color-ready-text-default: var(--color-rex-900);
  --color-ready-text-inverse: var(--color-rex-200);
  --color-ready-text-on-solid: var(--color-basic-white);
  --color-rex-100: #e7e0fe;
  --color-rex-200: #cfc3fd;
  --color-rex-300: #b09efb;
  --color-rex-400: #8f74f7;
  --color-rex-500: #7252f0;
  --color-rex-50: #f3f0ff;
  --color-rex-600: #5c38d6;
  --color-rex-700: #4727b0;
  --color-rex-800: #351a87;
  --color-rex-900: #240f61;
  --color-rex-950: #130737;
  --color-secondary-border-default: var(--color-wolf-500);
  --color-secondary-border-muted: var(--color-wolf-100);
  --color-secondary-border-strong: var(--color-wolf-700);
  --color-secondary-border-subtle: var(--color-wolf-300);
  --color-secondary-gradient-high: var(--color-wolf-700);
  --color-secondary-gradient-low: var(--color-wolf-400);
  --color-secondary-icon-default: var(--color-wolf-600);
  --color-secondary-icon-inverse: var(--color-wolf-200);
  --color-secondary-icon-muted: rgba(45, 46, 48, 0.699999988079071);
  --color-secondary-icon-on-solid: var(--color-basic-white);
  --color-secondary-inverse-icon-default: var(--color-wolf-950);
  --color-secondary-inverse-solid-default: var(--color-basic-white);
  --color-secondary-inverse-solid-disabled: var(--color-basic-white);
  --color-secondary-inverse-solid-focus: var(--color-basic-white);
  --color-secondary-inverse-solid-hover: var(--color-wolf-50);
  --color-secondary-inverse-solid-pressed: var(--color-wolf-100);
  --color-secondary-inverse-text-on-solid: var(--color-wolf-950);
  --color-secondary-link-default: var(--color-wolf-950);
  --color-secondary-link-disabled: rgba(21, 26, 34, 0.5);
  --color-secondary-link-focus: var(--color-wolf-950);
  --color-secondary-link-hover: var(--color-wolf-900);
  --color-secondary-link-pressed: var(--color-wolf-800);
  --color-secondary-solid-default: var(--color-wolf-950);
  --color-secondary-solid-disabled: rgba(21, 26, 34, 0.5);
  --color-secondary-solid-focus: var(--color-wolf-950);
  --color-secondary-solid-hover: var(--color-wolf-900);
  --color-secondary-solid-pressed: var(--color-wolf-800);
  --color-secondary-surface-default: var(--color-wolf-50);
  --color-secondary-surface-muted: var(--color-wolf-100);
  --color-secondary-surface-strong: var(--color-wolf-950);
  --color-secondary-text-default: var(--color-wolf-900);
  --color-secondary-text-inverse: var(--color-wolf-200);
  --color-secondary-text-on-solid: var(--color-basic-white);
  --color-subtle-border-default: var(--color-wolf-200);
  --color-subtle-border-muted: var(--color-wolf-50);
  --color-subtle-border-strong: var(--color-wolf-400);
  --color-subtle-border-subtle: var(--color-wolf-100);
  --color-subtle-gradient-high: var(--color-wolf-700);
  --color-subtle-gradient-low: var(--color-wolf-400);
  --color-subtle-icon-default: var(--color-wolf-600);
  --color-subtle-icon-inverse: var(--color-wolf-200);
  --color-subtle-icon-muted: rgba(45, 46, 48, 0.699999988079071);
  --color-subtle-icon-on-solid: var(--color-wolf-900);
  --color-subtle-link-default: var(--color-wolf-100);
  --color-subtle-link-disabled: rgba(241, 245, 249, 0.5);
  --color-subtle-link-focus: var(--color-wolf-100);
  --color-subtle-link-hover: var(--color-wolf-200);
  --color-subtle-link-pressed: var(--color-wolf-300);
  --color-subtle-solid-default: var(--color-wolf-100);
  --color-subtle-solid-disabled: rgba(241, 245, 249, 0.5);
  --color-subtle-solid-focus: var(--color-wolf-100);
  --color-subtle-solid-hover: var(--color-wolf-200);
  --color-subtle-solid-pressed: var(--color-wolf-300);
  --color-subtle-surface-default: var(--color-wolf-50);
  --color-subtle-surface-muted: var(--color-wolf-100);
  --color-subtle-surface-strong: var(--color-wolf-950);
  --color-subtle-text-default: var(--color-wolf-900);
  --color-subtle-text-inverse: var(--color-wolf-200);
  --color-subtle-text-on-solid: var(--color-wolf-900);
  --color-success-border-default: var(--color-bambi-500);
  --color-success-border-muted: var(--color-bambi-100);
  --color-success-border-strong: var(--color-bambi-600);
  --color-success-border-subtle: var(--color-bambi-400);
  --color-success-gradient-high: var(--color-bambi-900);
  --color-success-gradient-low: var(--color-bambi-400);
  --color-success-icon-default: var(--color-bambi-600);
  --color-success-icon-inverse: var(--color-bambi-200);
  --color-success-icon-muted: rgba(13, 82, 46, 0.699999988079071);
  --color-success-icon-on-solid: var(--color-basic-white);
  --color-success-link-default: var(--color-bambi-700);
  --color-success-link-disabled: rgba(13, 97, 53, 0.5);
  --color-success-link-focus: var(--color-bambi-700);
  --color-success-link-hover: var(--color-bambi-800);
  --color-success-link-pressed: var(--color-bambi-900);
  --color-success-solid-default: var(--color-bambi-600);
  --color-success-solid-disabled: rgba(13, 115, 62, 0.5);
  --color-success-solid-focus: var(--color-bambi-500);
  --color-success-solid-hover: var(--color-bambi-700);
  --color-success-solid-pressed: var(--color-bambi-800);
  --color-success-surface-default: var(--color-bambi-50);
  --color-success-surface-muted: var(--color-bambi-100);
  --color-success-surface-strong: var(--color-bambi-500);
  --color-success-text-default: var(--color-bambi-900);
  --color-success-text-inverse: var(--color-bambi-200);
  --color-success-text-on-solid: var(--color-basic-white);
  --color-surface-default: var(--color-basic-white);
  --color-surface-disabled: rgba(255, 255, 255, 0.5);
  --color-surface-inverse-default: var(--color-wolf-900);
  --color-surface-inverse-muted: var(--color-wolf-800);
  --color-surface-inverse-strong: var(--color-wolf-950);
  --color-surface-inverse-subtle: var(--color-wolf-700);
  --color-surface-muted: var(--color-wolf-100);
  --color-surface-overlay: rgba(25, 26, 28, 0.4000000059604645);
  --color-surface-raised: var(--color-basic-white);
  --color-surface-secondary: var(--color-wolf-200);
  --color-surface-strong: var(--color-wolf-400);
  --color-surface-subtle: var(--color-wolf-50);
  --color-tango-100: #d3e1fc;
  --color-tango-200: #b3ccfa;
  --color-tango-300: #8bb1f8;
  --color-tango-400: #5f94f5;
  --color-tango-500: #276ef1;
  --color-tango-50: #eff4fe;
  --color-tango-600: #1059df;
  --color-tango-700: #0f49b4;
  --color-tango-800: #0d3a8d;
  --color-tango-900: #0b2c6a;
  --color-tango-950: #061532;
  --color-text-disabled: rgba(21, 26, 34, 0.5);
  --color-text-inverse-primary: var(--color-basic-white);
  --color-text-inverse-quaternary: var(--color-wolf-600);
  --color-text-inverse-secondary: var(--color-wolf-300);
  --color-text-inverse-tertiary: var(--color-wolf-500);
  --color-text-placeholder: var(--color-wolf-400);
  --color-text-primary: var(--color-wolf-950);
  --color-text-quaternary: var(--color-wolf-400);
  --color-text-secondary: var(--color-wolf-700);
  --color-text-tertiary: var(--color-wolf-500);
  --color-warning-border-default: var(--color-lua-600);
  --color-warning-border-muted: var(--color-lua-100);
  --color-warning-border-strong: var(--color-lua-700);
  --color-warning-border-subtle: var(--color-lua-300);
  --color-warning-gradient-high: var(--color-lua-700);
  --color-warning-gradient-low: var(--color-lua-400);
  --color-warning-icon-default: var(--color-lua-600);
  --color-warning-icon-inverse: var(--color-lua-200);
  --color-warning-icon-muted: rgba(149, 112, 20, 0.699999988079071);
  --color-warning-icon-on-solid: var(--color-basic-black);
  --color-warning-link-default: var(--color-lua-500);
  --color-warning-link-disabled: rgba(246, 189, 47, 0.5);
  --color-warning-link-focus: var(--color-lua-500);
  --color-warning-link-hover: var(--color-lua-600);
  --color-warning-link-pressed: var(--color-lua-700);
  --color-warning-solid-default: var(--color-lua-600);
  --color-warning-solid-disabled: rgba(212, 160, 16, 0.5);
  --color-warning-solid-focus: var(--color-lua-500);
  --color-warning-solid-hover: var(--color-lua-700);
  --color-warning-solid-pressed: var(--color-lua-800);
  --color-warning-surface-default: var(--color-lua-50);
  --color-warning-surface-muted: var(--color-lua-100);
  --color-warning-surface-strong: var(--color-lua-500);
  --color-warning-text-default: var(--color-lua-900);
  --color-warning-text-inverse: var(--color-lua-200);
  --color-warning-text-on-solid: var(--color-basic-black);
  --color-wolf-100: #f1f5f9;
  --color-wolf-200: #dce1e8;
  --color-wolf-300: #c5ccd6;
  --color-wolf-400: #8993a2;
  --color-wolf-500: #687386;
  --color-wolf-50: #f8fafc;
  --color-wolf-600: #4d5665;
  --color-wolf-700: #374151;
  --color-wolf-800: #2b3340;
  --color-wolf-900: #202733;
  --color-wolf-950: #151a22;

  /* Typography */
  --font-family-body: "Inter", sans-serif;
  --font-family-heading: "Inter", sans-serif;
  --font-size-caption-big: 12px;
  --font-size-caption-medium: 11px;
  --font-size-caption-small: 10px;
  --font-size-heading-big: 48px;
  --font-size-heading-giant: 64px;
  --font-size-heading-large: 56px;
  --font-size-heading-medium: 40px;
  --font-size-heading-small: 32px;
  --font-size-heading-tiny: 24px;
  --font-size-text-big: 18px;
  --font-size-text-large: 20px;
  --font-size-text-medium: 16px;
  --font-size-text-small: 14px;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;

  /* Spacing */
  --spacing-0: var(--sizing-0);
  --spacing-10: var(--sizing-10);
  --spacing-11: var(--sizing-11);
  --spacing-12: var(--sizing-12);
  --spacing-1: var(--sizing-1);
  --spacing-2: var(--sizing-2);
  --spacing-3: var(--sizing-3);
  --spacing-4: var(--sizing-4);
  --spacing-5-5: var(--sizing-5-5);
  --spacing-5: var(--sizing-5);
  --spacing-6-5: var(--sizing-6-5);
  --spacing-6: var(--sizing-6);
  --spacing-7: var(--sizing-7);
  --spacing-8: var(--sizing-8);
  --spacing-9: var(--sizing-9);

  /* Spacing Aliases */
  --spacing-spacing-0: var(--spacing-0);
  --spacing-spacing-1: var(--spacing-1);
  --spacing-spacing-2: var(--spacing-2);
  --spacing-spacing-3: var(--spacing-3);
  --spacing-spacing-4: var(--spacing-4);
  --spacing-spacing-5: var(--spacing-5);
  --spacing-spacing-5-5: var(--spacing-5-5);
  --spacing-spacing-6: var(--spacing-6);
  --spacing-spacing-6-5: var(--spacing-6-5);
  --spacing-spacing-7: var(--spacing-7);
  --spacing-spacing-8: var(--spacing-8);
  --spacing-spacing-9: var(--spacing-9);
  --spacing-spacing-10: var(--spacing-10);
  --spacing-spacing-11: var(--spacing-11);
  --spacing-spacing-12: var(--spacing-12);

  /* Sizing */
  --sizing-0: 0px;
  --sizing-10: 32px;
  --sizing-11: 40px;
  --sizing-12: 48px;
  --sizing-13: 56px;
  --sizing-14: 64px;
  --sizing-15: 72px;
  --sizing-16: 80px;
  --sizing-17: 88px;
  --sizing-18: 96px;
  --sizing-19: 104px;
  --sizing-1: 1px;
  --sizing-20: 112px;
  --sizing-21: 120px;
  --sizing-22: 128px;
  --sizing-23: 136px;
  --sizing-24: 144px;
  --sizing-25: 152px;
  --sizing-26: 160px;
  --sizing-2: 2px;
  --sizing-3: 4px;
  --sizing-4-5: 7px;
  --sizing-4: 6px;
  --sizing-5-5: 10px;
  --sizing-5: 8px;
  --sizing-6-5: 14px;
  --sizing-6: 12px;
  --sizing-7: 16px;
  --sizing-8: 20px;
  --sizing-9: 24px;
  --sizing-full: 999px;

  /* Radius */
  --radius-2xl: var(--sizing-6);
  --radius-2xs: var(--sizing-1);
  --radius-3xl: var(--sizing-7);
  --radius-focus: var(--sizing-4-5);
  --radius-full: var(--sizing-full);
  --radius-lg: var(--sizing-5);
  --radius-md: var(--sizing-4);
  --radius-none: var(--sizing-0);
  --radius-sm: var(--sizing-3);
  --radius-xl: var(--sizing-5-5);
  --radius-xs: var(--sizing-2);

  /* Radius Aliases */
  --radius-radius-none: var(--radius-none);
  --radius-radius-2xs: var(--radius-2xs);
  --radius-radius-xs: var(--radius-xs);
  --radius-radius-sm: var(--radius-sm);
  --radius-radius-md: var(--radius-md);
  --radius-radius-focus: var(--radius-focus);
  --radius-radius-lg: var(--radius-lg);
  --radius-radius-xl: var(--radius-xl);
  --radius-radius-2xl: var(--radius-2xl);
  --radius-radius-3xl: var(--radius-3xl);
  --radius-radius-full: var(--radius-full);

  /* Other */
  --leading-14: 14px;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-26: 26px;
  --leading-28: 28px;
  --leading-32: 32px;
  --leading-40: 40px;
  --leading-48: 48px;
  --leading-56: 56px;
  --leading-64: 64px;
  --leading-76: 76px;

  /* Shadows (Elevations) */
  --shadow-elevation-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-elevation-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-elevation-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-elevation-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
