:root {
  --color-global-white: #FFFFFF;
  --color-global-black: #000000;
  --color-surface-default: #FFFFFF;
  --color-surface-subtle: #F8FAFC;
  --color-surface-raised: #FFFFFF;
  --color-surface-overlay: #191A1C66;
  --color-surface-inverse-default: #202733;
  --color-surface-disabled: #FFFFFF80;
  --color-text-primary: #151A22;
  --color-text-secondary: #374151;
  --color-text-tertiary: #687386;
  --color-text-quaternary: #8993A2;
  --color-text-placeholder: #8993A2;
  --color-text-inverse-primary: #FFFFFF;
  --color-border-subtle: #F1F5F9;
  --color-border-default: #DCE1E8;
  --color-border-strong: #8993A2;
  --color-border-inverse-default: #374151;
  --color-border-focus: #1D62D7;
  --color-border-disabled: #DCE1E880;
  --color-icon-primary: #151A22;
  --color-icon-secondary: #374151;
  --color-icon-tertiary: #687386;
  --color-icon-inverse-default: #FFFFFF;
  --color-info-surface-default: #EFF4FE;
  --color-info-surface-muted: #D3E1FC;
  --color-info-border-default: #276EF1;
  --color-info-border-strong: #0F49B4;
  --color-info-icon-default: #1059DF;
  --color-info-text-default: #0B2C6A;
  --color-info-text-on-solid: #FFFFFF;
  --color-info-solid-default: #1059DF;
  --color-info-solid-hover: #0F49B4;
  --color-info-solid-pressed: #0D3A8D;
  --color-success-surface-default: #E9F6ED;
  --color-success-surface-muted: #C6EBD7;
  --color-success-border-default: #0D8345;
  --color-success-border-strong: #0D733E;
  --color-success-icon-default: #0D733E;
  --color-success-text-default: #0C4426;
  --color-success-text-on-solid: #FFFFFF;
  --color-success-solid-default: #0D733E;
  --color-success-solid-hover: #0D6135;
  --color-success-solid-pressed: #0D522E;
  --color-warning-surface-default: #FDF2DD;
  --color-warning-surface-muted: #FCECC5;
  --color-warning-border-default: #D4A010;
  --color-warning-border-strong: #B08310;
  --color-warning-icon-default: #D4A010;
  --color-warning-text-default: #634A0E;
}
