:root {

  /* Colors */
  --color-bambi-100: #c6ebd7;
  --color-bambi-200: #9ae1bb;
  --color-bambi-300: #5ed999;
  --color-bambi-400: #23cb73;
  --color-bambi-500: #0d8345;
  --color-bambi-50: #e9f6ed;
  --color-bambi-600: #0d733e;
  --color-bambi-700: #0d6135;
  --color-bambi-800: #0d522e;
  --color-bambi-900: #0c4426;
  --color-bambi-950: #0a2e1b;
  --color-basic-black: #000000;
  --color-basic-debug: #f3168f;
  --color-basic-white: #ffffff;
  --color-border-disabled: rgba(220, 225, 232, 0.5);
  --color-brand-icon-muted: rgba(30, 78, 174, 0.699999988079071);
  --color-brand-link-disabled: rgba(29, 98, 215, 0.5);
  --color-brand-solid-disabled: rgba(36, 119, 235, 0.5);
  --color-bronx-100: #dceefe;
  --color-bronx-200: #bee1fe;
  --color-bronx-300: #91cefd;
  --color-bronx-400: #61b5fa;
  --color-bronx-500: #007bff;
  --color-bronx-50: #f0f8ff;
  --color-bronx-600: #2477eb;
  --color-bronx-700: #1d62d7;
  --color-bronx-800: #1e4eae;
  --color-bronx-900: #1e468a;
  --color-bronx-950: #182c53;
  --color-brooklyn-100: #ffcbd4;
  --color-brooklyn-200: #fda3b4;
  --color-brooklyn-300: #fa738c;
  --color-brooklyn-400: #f54061;
  --color-brooklyn-500: #de1135;
  --color-brooklyn-50: #fff0ee;
  --color-brooklyn-600: #bd102f;
  --color-brooklyn-700: #991028;
  --color-brooklyn-800: #7a0e21;
  --color-brooklyn-900: #5d0c1b;
  --color-brooklyn-950: #31070f;
  --color-destructive-icon-muted: rgba(122, 14, 33, 0.699999988079071);
  --color-destructive-link-disabled: rgba(153, 16, 40, 0.5);
  --color-destructive-solid-disabled: rgba(189, 16, 47, 0.5);
  --color-icon-disabled: rgba(21, 26, 34, 0.5);
  --color-info-icon-muted: rgba(13, 58, 141, 0.699999988079071);
  --color-info-solid-disabled: rgba(16, 89, 223, 0.5);
  --color-link-brand-inverse-disabled: rgba(97, 181, 250, 0.5);
  --color-link-destructive-inverse-disabled: rgba(245, 64, 97, 0.5);
  --color-link-ready-inverse-disabled: rgba(143, 116, 247, 0.5);
  --color-link-secondary-inverse-disabled: rgba(241, 245, 249, 0.5);
  --color-link-subtle-inverse-disabled: rgba(104, 115, 134, 0.5);
  --color-link-success-inverse-disabled: rgba(35, 203, 115, 0.5);
  --color-link-warning-inverse-disabled: rgba(250, 227, 169, 0.5);
  --color-lua-100: #fcecc5;
  --color-lua-200: #fae3a9;
  --color-lua-300: #f9d887;
  --color-lua-400: #f7cc60;
  --color-lua-500: #f6bd2f;
  --color-lua-50: #fdf2dd;
  --color-lua-600: #d4a010;
  --color-lua-700: #b08310;
  --color-lua-800: #8a6610;
  --color-lua-900: #634a0e;
  --color-lua-950: #3b2d0d;
  --color-ready-icon-muted: rgba(53, 26, 135, 0.699999988079071);
  --color-ready-link-disabled: rgba(71, 39, 176, 0.5);
  --color-ready-solid-disabled: rgba(92, 56, 214, 0.5);
  --color-rex-100: #e7e0fe;
  --color-rex-200: #cfc3fd;
  --color-rex-300: #b09efb;
  --color-rex-400: #8f74f7;
  --color-rex-500: #7252f0;
  --color-rex-50: #f3f0ff;
  --color-rex-600: #5c38d6;
  --color-rex-700: #4727b0;
  --color-rex-800: #351a87;
  --color-rex-900: #240f61;
  --color-rex-950: #130737;
  --color-secondary-icon-muted: rgba(45, 46, 48, 0.699999988079071);
  --color-secondary-link-disabled: rgba(21, 26, 34, 0.5);
  --color-secondary-solid-disabled: rgba(21, 26, 34, 0.5);
  --color-subtle-icon-muted: rgba(45, 46, 48, 0.699999988079071);
  --color-subtle-link-disabled: rgba(241, 245, 249, 0.5);
  --color-subtle-solid-disabled: rgba(241, 245, 249, 0.5);
  --color-success-icon-muted: rgba(13, 82, 46, 0.699999988079071);
  --color-success-link-disabled: rgba(13, 97, 53, 0.5);
  --color-success-solid-disabled: rgba(13, 115, 62, 0.5);
  --color-surface-disabled: rgba(255, 255, 255, 0.5);
  --color-surface-overlay: rgba(25, 26, 28, 0.4000000059604645);
  --color-tango-100: #d3e1fc;
  --color-tango-200: #b3ccfa;
  --color-tango-300: #8bb1f8;
  --color-tango-400: #5f94f5;
  --color-tango-500: #276ef1;
  --color-tango-50: #eff4fe;
  --color-tango-600: #1059df;
  --color-tango-700: #0f49b4;
  --color-tango-800: #0d3a8d;
  --color-tango-900: #0b2c6a;
  --color-tango-950: #061532;
  --color-text-disabled: rgba(21, 26, 34, 0.5);
  --color-warning-icon-muted: rgba(149, 112, 20, 0.699999988079071);
  --color-warning-link-disabled: rgba(246, 189, 47, 0.5);
  --color-warning-solid-disabled: rgba(212, 160, 16, 0.5);
  --color-wolf-100: #f1f5f9;
  --color-wolf-200: #dce1e8;
  --color-wolf-300: #c5ccd6;
  --color-wolf-400: #8993a2;
  --color-wolf-500: #687386;
  --color-wolf-50: #f8fafc;
  --color-wolf-600: #4d5665;
  --color-wolf-700: #374151;
  --color-wolf-800: #2b3340;
  --color-wolf-900: #202733;
  --color-wolf-950: #151a22;

  /* Typography */
  --font-family-body: "Inter", sans-serif;
  --font-family-heading: "Inter", sans-serif;
  --font-size-caption-big: 12px;
  --font-size-caption-medium: 11px;
  --font-size-caption-small: 10px;
  --font-size-heading-big: 48px;
  --font-size-heading-giant: 64px;
  --font-size-heading-large: 56px;
  --font-size-heading-medium: 40px;
  --font-size-heading-small: 32px;
  --font-size-heading-tiny: 24px;
  --font-size-text-big: 18px;
  --font-size-text-large: 20px;
  --font-size-text-medium: 16px;
  --font-size-text-small: 14px;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;

  /* Sizing */
  --sizing-0: 0px;
  --sizing-10: 32px;
  --sizing-11: 40px;
  --sizing-12: 48px;
  --sizing-13: 56px;
  --sizing-14: 64px;
  --sizing-15: 72px;
  --sizing-16: 80px;
  --sizing-17: 88px;
  --sizing-18: 96px;
  --sizing-19: 104px;
  --sizing-1: 1px;
  --sizing-20: 112px;
  --sizing-21: 120px;
  --sizing-22: 128px;
  --sizing-23: 136px;
  --sizing-24: 144px;
  --sizing-25: 152px;
  --sizing-26: 160px;
  --sizing-2: 2px;
  --sizing-3: 4px;
  --sizing-4-5: 7px;
  --sizing-4: 6px;
  --sizing-5-5: 10px;
  --sizing-5: 8px;
  --sizing-6: 12px;
  --sizing-7: 16px;
  --sizing-8: 20px;
  --sizing-9: 24px;
  --sizing-full: 999px;

  /* Other */
  --leading-14: 14px;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-26: 26px;
  --leading-28: 28px;
  --leading-32: 32px;
  --leading-40: 40px;
  --leading-48: 48px;
  --leading-56: 56px;
  --leading-64: 64px;
  --leading-76: 76px;

  /* Shadows (Elevations) */
  --shadow-elevation-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-elevation-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-elevation-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-elevation-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
